<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trueandtrust.shoplex">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shoplex">

        <activity android:name=".view.activities.StoreLocationActivity"
            android:theme="@style/AppTheme.Home">


        </activity>

        <activity android:name=".view.activities.LastOrderActivity"
            android:theme="@style/AppTheme.Home">
        </activity>

        <activity android:name=".view.activities.ProductDetails"
            android:theme="@style/AppTheme.Home"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activities.ConfirmProductActivity"/>
        <activity android:name=".view.activities.AddProductActivity" android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".view.activities.HomeActivity"
            android:theme="@style/AppTheme.Home">

        </activity>
        <activity android:name=".view.activities.MessageActivity"></activity>
        <activity android:name=".view.activities.MainActivity" />
    </application>

</manifest>